main {
    font-family: Roboto;
}

#homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 86vh;
    max-height: 860px;
}

#homepage-image {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -99;
    width: 100%;
    height: 86vh;
    max-height: 860px;
}
.bg-cover {
    height: 100%;
    background-image: url("../img/large2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#header-container {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.header {
    width: 95%;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homepage-logo{margin-left: 20px;}
.homepage-social{margin-left: auto;}
.homepage-login{margin-left: 20px;}
.homepage-help{margin-left: 20px;}
.homepage-login button {
    color: #FFFFFF;
    text-decoration: none;
    background: none;
    border: none;
}
.header a {
    text-decoration: none;
    color: #FFFFFF;
}

.homepage-maintext {
    color: #ffffff;
    font-size: 76px;
    text-shadow: 10px 10px 10px #202020;
}

.container {
    display: flex;
    flex:1 1 auto;
    justify-content: center;
    align-items: flex-end;
    color: #FFFFFF;
    position: relative;
}
.benefits {
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    text-align: center;
    color: #ffffff;
}
.benefits div {
    margin: 15px 30px;
}

#slider {
    display: flex;
    justify-content: center;
}
#options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 100%;
}
#options > div {
    position: relative;
}
.slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-height: 40%;
    background-color: #000000;
}
#options img {
    width: 100%;
    opacity: 0.5;
}
#options p {
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    position: absolute;
}

.threebox {
    width: 100%;
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.threebox-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin:25px 25px;
    position: relative;
}
.threebox img {
    width: 100%;
    max-height: 400px;
    max-width: 400px;
}
.threebox p.fa {
    margin: 50px 0;
    color: #005da9;
}
.threebox p {
    margin: 25px 0;
}
.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-overlay > h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    padding: 25px;
    text-align: center;
}
.text-overlay > a {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    padding: 25px;
    margin: 50px;
    text-decoration: none;
    border: solid 2px #ffffff;
    border-radius:30px;
}
.text-overlay > a:hover {
    background-color: #005da9;
    border: solid 2px #005da9;
}
.search-form {
    width: 70%;
    padding: 8px 8px;
    min-width: 400px;
    border-radius: 4px;
    background: rgba(0,0,0,.2);
}

input {
    margin: 0 5px;
    cursor: pointer;
    color: #555555;
}
input[type=search] {
    width: 40%;
    cursor: auto;
}
input[type=date],input[type=text] {
    width: 17%;
}
input[type=date], input[type=search],input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #FFFFFF;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 5px;
}
input[type=text]:focus,input[type=search]:focus {
    border: 3px solid #2a6ebb;
}
input[type=submit] {
    border-radius: 30px;
    min-height: 58px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #2a6ebb;
    border-color: #2a6ebb;
}
input[type=submit]:hover {
    background-color: #0067db;
    border-color: #0067db;
}
.btn {
    display: inline-block;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 100px;
    padding: 15px 30px;
    line-height: 24px;
    color: #FFFFFF;
}


footer {
    background: #555555;
    text-align: center;
}
footer > div > p {
    margin: 25px 0;
}

@media only screen and (min-width: 45em) {
    #options {
        flex-wrap:nowrap;
        flex-direction: row;
    }
    .slider-item {
        flex:1;
        flex-basis:100%;
    }
    .homepage-menu{visibility: hidden}
}
@media only screen and (max-width: 35em) {
    .flexform{flex-wrap: wrap;}
    .flexform input[name=search]{flex: 0 1 100%;margin:10px 5px;}
    .flexform input[name=start],input[name=finish],input[name=people],input[name=submit]{display: none}
}
@media only screen and (max-width: 45em) {
    .benefits {display: none !important;}
    .homepage-maintext{font-size: 42px}
    .homepage-logo{margin: auto}
    .homepage-login,.homepage-help,.homepage-social{display: none}
    .homepage-menu{visibility:visible}
    .flexform{flex-wrap: wrap;}
    .flexform input[name=search]{flex: 0 1 100%;margin:10px 5px;}
    .flexform input[name=start]{flex: 1 0 0}
    .flexform input[name=finish]{flex: 1 0 0}
}
@media only screen and (max-width: 60em) {
    .flexform{flex-wrap: wrap;}
    .flexform input[name=search]{flex: 0 1 100%;margin:10px 5px;}
    .flexform input[name=start]{flex: 1 0 0}
    .flexform input[name=finish]{flex: 1 0 0}
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
