html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card-container {
    padding-bottom: 10px;
    width: 200px;
    height: 300px;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    padding-bottom: 5px;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    height: 280px;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
    background-color: white;
}

.card-img-top {
    display: block;
    width: 100%;
    height: 175px;
    max-height: 175px;
    transition: .5s ease;
}

.text-bold {
    font-weight: 700;
}

/* Zoom Out #1 */
.card-img-top {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.card-img-top:hover {
	-webkit-transform: scale(1);
	transform: scale(1);
}