html {
    overflow-y: hidden;
}
main {
    /*border: solid 1px #000000;*/
    display: flex;
    flex-direction: column;
}
#results-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 18vh;
    border: inherit;
}
header a {
    color: #005da9;
}
header {
    border: inherit;
    box-shadow: 1px 1px 1px #AFAFAF;
}
#header-container {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.header {
    width: 95%;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #005da9;
}
.homepage-logo{margin-left: 20px;}
.homepage-social{margin-left: auto;}
.homepage-login{margin-left: 20px;}
.homepage-help{margin-left: 20px;}
.homepage-login button {
    color: #FFFFFF;
    text-decoration: none;
    background: none;
    border: none;
}
.header a {
    text-decoration: none;
    color: #005da9;
}
#selector {
    border: inherit;
    min-height: 18vh;
    -webkit-box-flex: flex;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 3px #AFAFAF;
}
.results-form {
    width: 95%;
    min-width: 400px;
    flex-flow: row wrap;
}
.results-form > * {
    flex: 0 1 auto;
}
.results-form .options {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.results-form .options span {
    flex: 1 0 auto;
}
.results-form .options .flex-divider {
    flex: 3 0 auto;
}
#filters {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 0px;
    background-color: #FFFFFF;
    padding: 0 100px;
}
#filters div {
    display: flex;
    flex-direction: column;
}
#filters div > * {
    margin: 5px;
}
#filters > * {
    flex: 1 0 25%;
}
#filters > *:last-child {
    flex: 0 1 100%;
}
.content-toggle {
    background-color: #eee;
    padding: 10px 10px;
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
    width:120px;
    text-align: center;
}
.flex-col {
    flex-direction: column;
    flex-wrap: nowrap;
}
.flex-row {
    flex-direction: row;
    flex-wrap: wrap;
}
#results {
    margin-top: 2px;
    width: 100%;
    height: 60vh;
    flex-grow: 1;
    -webkit-box-flex: flex;
    display: flex;
    align-items: center;
    border: inherit;
    overflow-y: scroll;
    background: #F5F5F5;
}
#restults-content {
    margin-top: 2px;
    width: 65%;
    -webkit-box-flex: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: inherit;
    background: #F5F5F5;
}
.offer-list {
    position: relative;
    -webkit-box-flex: flex;
    display: flex;
    flex-direction: row;
    margin: 15px;
    width: 95%;
    min-height: 200px;
    height: 200px;
    box-shadow: 2px 2px 8px #AFAFAF;
    background-color: #FFFFFF;
    overflow-y: hidden !important;
    text-overflow: ellipsis;
}
.offer-list:hover {
    box-shadow: 10px 10px 15px #AFAFAF;
    cursor: pointer;
}
.offer-list .offer-images {
    -webkit-box-flex: flex;
    display: flex;
    flex-direction: row;
    width: 50%;
}
.offer-list .offer-img-item {
    -webkit-box-flex: flex;
    display: flex;
    flex-direction: column;
    width: 40%;
}
.offer-list .offer-images img {
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 0px 1px 1px 1px;
    height: 50%;
}
.offer-list .offer-img-initial {
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 0px 0px 1px 1px;
    width: 60%;
    height: 100%;
}
.offer-list .offer-img-initial img {
    height: 100%;
}
.offer-list .offer-info {
    border: none;
    -webkit-box-flex: flex;
    display: flex;
    flex-direction: row;
    width: 50%;
}
.offer-list .offer-info-left {
    font-size: 22px;
    padding: 15px;
    flex: 0.7;
    border: inherit;
    -webkit-box-flex: flex;
    display: flex;
    flex-direction: column;
}
.offer-list .offer-info-left .name {
    font-size: 28px;
    color: #005da9;
    margin-bottom: 15px;
}
.offer-list .offer-info-left .blurb {
    font-size: 20px;
}
.offer-list .offer-info-right {
    font-size: 24px;
    padding: 15px;
    flex: 0.3;
    border: inherit;
    -webkit-box-flex: flex;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.offer-list .offer-info-right .price {
    font-size: 30px;
}
.offer-list a:visited {
     color: #005da9;
 }

.offer-tile {
    position: relative;
    -webkit-box-flex: flex;
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 250px;
    min-height: 300px;
    height: 300px;
    box-shadow: 2px 2px 8px #AFAFAF;
    background-color: #FFFFFF;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.offer-tile:hover {
    box-shadow: 10px 10px 15px #AFAFAF;
    cursor: pointer;
}
.offer-tile .offer-images {
    -webkit-box-flex: flex;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.offer-tile .offer-img-item {
    display: none;
}
.offer-tile .offer-img-initial {
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 0px 0px 1px 1px;
    width: 100%;
    height: 60%;
}
.offer-tile .offer-info {
    border: none;
    -webkit-box-flex: flex;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.offer-tile .offer-info-left {
    font-size: 14px;
    padding: 15px;
    flex: 1;
    border: inherit;
    -webkit-box-flex: flex;
    display: flex;
    flex-direction: column;
}
.offer-tile .offer-info-left .name {
    font-size: 18px;
    color: #005da9;
    margin-bottom: 15px;
}
.offer-tile .offer-info-left .blurb {
     display: none;
 }
.offer-tile .offer-info-right {
    font-size: 24px;
    padding: 15px;
    flex: 1;
    border: inherit;
    -webkit-box-flex: flex;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.offer-tile .offer-info-right .price {
    font-size: 20px;
}
.offer-tile > a {
    color: #005da9;
}

.offer-list .offer-heart {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    background-color: #FFFFFF;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
}
.offer-tile .offer-heart {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    background-color: #FFFFFF;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
}
.offer-heart:hover {
    color: #FF0000;
}
.offer-add {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    font-size: 30px;
    text-align: center;
}
.offer-add:hover {
    color: #0067db;
}
.offer-add:hover .tooltiptext {
    visibility: visible;
}
.tooltiptext {
    visibility: hidden;
    width: 125px;
    background-color: #0067db;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    font-size: 16px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0;
    right: 105%;
}
#package-info {
    width: 35%;
    max-height: 70vh;
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
    border: inherit;
    justify-content: center;
    align-items: center;
}
#package-info > * {
    color: #555555;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#package-info #package-header {
    height: 10vh;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 2px #AFAFAF;
}
#package-info #package-contents {
    color: #555555;
    height: 80%;
    flex-direction: column;
}
#package-info > #package-contents > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-top: 10px;
    height:50px;
    border: 1px solid #0067db;
    box-shadow: 1px 2px 5px #005da9;
}
#package-info > #package-contents > div > span {
    flex: 1 0 80%;
}
#package-info > #package-contents > div > .fa {
    flex: 1 0 5%;
}
#package-info > #package-contents > div > a {
    flex: 1 1 5%;
}
#package-info #package-confirmation {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    box-shadow: 1px -2px 2px #AFAFAF;
}
#package-info #package-confirmation > div {
    width: 50%;
    height: 100%;
}
#package-info #package-confirmation a:visited, #package-info #package-confirmation a {
    font-size: 35px;
    color: #005da9;
    text-decoration: none;
}
#package-info #package-confirmation a:hover {
    color: #0067db;
}
.left {
    display: flex;
    flex-direction: column;
}
.right {
    display: flex;
    flex-direction: column;
}
.center {
    justify-content: center;
    align-items: center;
}
.red {
    color: #FF0000;
}

.fa-chevron-right-after:after {
    font-family: FontAwesome;
    content: "\f054";
    display: inline-block;
    padding-left: 8px;
    vertical-align: middle;
}
.fa-chevron-down-after:after {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 3px;
    vertical-align: middle;
}

#package-contents {
    overflow-y: scroll;
    text-align: center;
}

.full {
    background-color: red;
}

input {
    margin: 0 5px;
    cursor: pointer;
    color: #555555;
}
input[type=search] {
    width: 40%;
    cursor: auto;
}
input[type=date],input[type=text] {
    width: 17%;
}
input[type=date], input[type=search],input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #FFFFFF;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 5px;
}
input[type=text]:focus,input[type=search]:focus {
    border: 3px solid #2a6ebb;
}
input[type=submit] {
    border-radius: 30px;
    min-height: 58px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #2a6ebb;
    border-color: #2a6ebb;
}
input[type=submit]:hover {
    background-color: #0067db;
    border-color: #0067db;
}
.btn {
    display: inline-block;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: 100px;
    padding: 15px 30px;
    line-height: 24px;
    color: #FFFFFF;
}
#display-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 3%;
    color: #555555;
    margin: 20px 0 0 0;
    padding: 0 0 20px 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 10px -10px #555555;
}
#display-type > a {
    text-decoration: none;
    color: #555555;
}

#offer-info-large {
    height: 72vh;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
}

#offer-image {
    flex: 1 0 50%;
    width: 50%;
}
#offer-image img {
    width: 100%;
    object-fit: cover;
}

#offer-info {
    flex: 1 0 50%;
    padding: 25px;
}

#offer-desc {
    flex: 2 0 100%
}

.recommendation {
    box-shadow: 2px 2px 10px #daa520;
    border: 2px solid #daa520;
}

.packageform {
    width: 90%;
    flex-wrap: wrap;
}
.packageform > * {
    flex: 1 0 100%
}
.packageform input, .packageform select {
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #FFFFFF;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 10px 12px 5px;
}
.packageform select {
    height: auto;
}

.packageform input[type=submit] {
    flex: 1 0 50%;
    margin: 50px auto;
    border-radius: 30px;
    min-height: 58px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #2a6ebb;
    border-color: #2a6ebb;
    color: #FFFFFF;
}
.packageform input[type=submit]:hover {
    background-color: #0067db;
    border-color: #0067db;
}